### CSE-221710306018-KAVYASREEGAMPA

#### Numerical Calculation of K-Nearest Neighbors:

##### problem statement :

<img src = "problem1.png">

Now the factory produces a new paper tissue with X1 value as 3 and X2 value as 7. What is the classification of this new tissue(Good or Bad).

If k=1 nearest neighbor, what would be the classification of new paper tissue

1. Calculate the distance between the query instance(3,7) and all the training samples.
2. Sort the distance and determine nearest neighbor based on k
3. Gather the y category of nearest neighbor and that category becomes the predicted class of query instance

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data={'X1':[7,7,3,1],'X2':[7,4,4,4],'Y':["Bad","Bad","Good","Good"]}
data

{'X1': [7, 7, 3, 1], 'X2': [7, 4, 4, 4], 'Y': ['Bad', 'Bad', 'Good', 'Good']}

In [ ]:
df=pd.DataFrame(data)
df

   X1  X2     Y
0   7   7   Bad
1   7   4   Bad
2   3   4  Good
3   1   4  Good

In [ ]:
x=3
y=7

In [ ]:
data1=data['X1']
data2=data['X2']
data1

[7, 7, 3, 1]

In [ ]:
data2

[7, 4, 4, 4]

In [ ]:
data3=[]
import math
for i in range(0,len(data1)):
    sq=(x-data1[i])**2 + (y-data2[i])**2
    data3.append(math.sqrt(sq))
data3

[4.0, 5.0, 3.0, 3.605551275463989]

In [ ]:
df1=pd.DataFrame(data3,columns=['Distance'])
df1

   Distance
0  4.000000
1  5.000000
2  3.000000
3  3.605551

In [ ]:
df2=pd.concat([df,df1],axis=1)
df2

   X1  X2     Y  Distance
0   7   7   Bad  4.000000
1   7   4   Bad  5.000000
2   3   4  Good  3.000000
3   1   4  Good  3.605551

In [ ]:
df2.sort_values(by=['Distance'],inplace=True)
df2

   X1  X2     Y  Distance
2   3   4  Good  3.000000
3   1   4  Good  3.605551
0   7   7   Bad  4.000000
1   7   4   Bad  5.000000

In [ ]:
df.append({'X1':3,'X2':7,'Y':"Good"},ignore_index=True)

   X1  X2     Y
0   7   7   Bad
1   7   4   Bad
2   3   4  Good
3   1   4  Good
4   3   7  Good

When k=1 from (3,7) point <br>

Then (3,4) is the only point i.e., (3,4) is the nearest point for the (3,7) point <br>

(3,4) is classified as Good so , we will consider (3,7) also as Good with k=1 <br>

If k=3 nearest neighbor, what would be the classification of new paper tissue <br>

1. Calculate the distance between the query instance(3,7) and all the training samples.
2. Sort the distance and determine nearest neighbor based on k
3. Gather the y category of nearest neighbor and that category becomes the predicted class of query instance

In [ ]:
data={'X1':[7,7,3,1],'X2':[7,4,4,4],'Y':["Bad","Bad","Good","Good"]}
data

{'X1': [7, 7, 3, 1], 'X2': [7, 4, 4, 4], 'Y': ['Bad', 'Bad', 'Good', 'Good']}

In [ ]:
df=pd.DataFrame(data)
df

   X1  X2     Y
0   7   7   Bad
1   7   4   Bad
2   3   4  Good
3   1   4  Good

In [ ]:
x=3
y=7

In [ ]:
data1=data['X1']
data2=data['X2']
data1

[7, 7, 3, 1]

In [ ]:
data2

[7, 4, 4, 4]

In [ ]:
data3=[]
import math
for i in range(0,len(data1)):
    sq=(x-data1[i])**2 + (y-data2[i])**2
    data3.append(math.sqrt(sq))
data3

[4.0, 5.0, 3.0, 3.605551275463989]

In [ ]:
df1=pd.DataFrame(data3,columns=['Distance'])
df1

   Distance
0  4.000000
1  5.000000
2  3.000000
3  3.605551

In [ ]:
df2=pd.concat([df,df1],axis=1)
df2

   X1  X2     Y  Distance
0   7   7   Bad  4.000000
1   7   4   Bad  5.000000
2   3   4  Good  3.000000
3   1   4  Good  3.605551

In [ ]:
df2.sort_values(by=['Distance'],inplace=True)
df2

   X1  X2     Y  Distance
2   3   4  Good  3.000000
3   1   4  Good  3.605551
0   7   7   Bad  4.000000
1   7   4   Bad  5.000000

In [ ]:
df.append({'X1':3,'X2':7,'Y':"Good"},ignore_index=True)

   X1  X2     Y
0   7   7   Bad
1   7   4   Bad
2   3   4  Good
3   1   4  Good
4   3   7  Good

When k=3 from (3,7) point <br>
Then (3,4),(1,4) and (7,7) are the point nearest to (3,7) <br>
(3,4) is classified as Good <br>
(1,4) is classified as Good <br>
(7,7) is classified as Bad <br>
Here the majority of Y for the above points is Good so, the new point (3,7) is classified as Good with k=3